---
import { ui, languages } from '../../i18n/ui';
import { useTranslations } from '../../i18n/utils';

import Header from '../../components/Header.astro';
import Tecnologias from '../../components/Tecnologias.astro';
import Layout from '../../layouts/Layout.astro';
import Trabajos from '../../components/Trabajos.astro';
import SobreMi from '../../components/SobreMi.astro';
import Experiencia from '../../components/Experiencia.astro';
import InteractiveShell from '../../components/InteractiveShell.astro';
import ContactForm from '../../components/ContactForm.astro';
import Footer from '../../components/Footer.astro';

// 1. Generamos las rutas dinámicas para /es y /en
export async function getStaticPaths() {
  return Object.keys(languages).map((lang) => ({ params: { lang } }));
}

// 2. Obtenemos el idioma actual de la URL
const { lang } = Astro.params;
const currentLang = (lang as keyof typeof ui) || 'es';
const t = useTranslations(currentLang);
---

<Layout title={currentLang === 'es' ? "Portfolio Pablo Climent" : "Pablo Climent | Portfolio"}>
  <Header currentLang={currentLang} />

  <main>
    <SobreMi />
  </main>

  <section>
    <InteractiveShell />
  </section>

  <section>
    <Tecnologias />
  </section>

  <section>
    <Trabajos lang={currentLang} />
  </section>

  <section>
    <Experiencia />
  </section>

  <section>
    <ContactForm />
  </section>

  <Footer />
</Layout>

<style>
main {
  margin: 110px auto 60px;
  padding: 0 20px;
  max-width: 1400px;
  width: 100%;
  box-sizing: border-box;
}
</style>
