---
import '../styles/global.css'
import '@fontsource/space-mono';
---
<!doctype html>
<html lang="en" class="dark-mode">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>PCdev</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		font-family: 'Space Mono', monospace;
	}

	
</style>

<script>
  import AOS from "aos";

  document.addEventListener("DOMContentLoaded", () => {
    AOS.init({
      duration: 1000,
      once: false,
      offset: 120,
    });
  });
</script>
